.main {
  font-size: 14px;
  font-family: monospace, system-ui, "PingFang SC", STHeiti, sans-serif;
  width: 80%;
  margin: 0 auto;
  min-width: 900px;
}
.main header > div {
  display: flex;
  flex-wrap: wrap;
}
.main label {
  width: 300px;
  margin-top: 20px;
}
.main label span {
  display: inline-block;
  width: 80px;
}
.main button {
  background: #9999f9;
  box-shadow: none;
  border: 1px solid #9999f9;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  height: 40px;
  min-width: 120px;
  margin: 19px 0 0 40px;
}
button:hover {
  background-color: #7d7de2;
}
button:focus,
button:active {
  outline: none;
}
.main label span + input {
  margin-left: 10px;
}
.main label + label {
  /*margin-left: 20px;*/
}
input {
  padding: 9px 4px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #9999f9;
  background: transparent;
  box-sizing: border-box;
}
input:hover {
}
input:focus,
input:active {
  outline: none;
}
table {
  font: inherit;
  border-collapse: collapse;
  min-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
thead {
  background: #9999f9;
  color: #fff;
}
td, th {
  border: 1px solid #e7e7e7;
  padding: 0 9px;
}
tr {
  line-height: 40px;
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.danger {
  cursor: pointer;
  color: red;
}
.danger:hover {
  text-decoration: underline;
}
